<a tabindex="0" href="#news-items-2" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="hierarchybreadcrumb">
	<span class="ui-icon ui-icon-triangle-1-s"></span>Academico
</a>
<div id="news-items-2" class="hidden">
<ul>
    <li><a href="#">Alumno</a>
	<ul>
		<li><a href="/alumno/registrar">Registrar</a></li>
		<li><a href="#">Historial</a>
		<ul>
			<li><a href="/wvb/historial-academico">Académico</a></li>
		</ul>
	</ul>
	</li>
	<li><a href="#">Campus</a>
	<ul>
		<li><a href="/campus/crear/">Crear</a></li>
		<li><a href="/campus/listar/">Listar</a></li>
		<li><a href="/campus/registro-academico">Registro Académico</a></li>
		<li><a href="/wvb/sustitutorio">Sustitutorio</a></li>
	</ul>
	<li><a href="#">Docente</a>
	<ul>
		<li><a href="/docente/listar/">Registrar</a></li>
	</ul>
	</li>
	<li><a href="#">Institución</a>
		<ul>
			<li><a href="/institucion/carrera">Carrera</a></li>
			<li><a href="/curso/listar">Curso</a></li>
		</ul>
	</li>
</ul>
</div>
