<a tabindex="0" href="#news-items-2" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="hierarchybreadcrumb"><span class="ui-icon ui-icon-triangle-1-s"></span>Academico</a>
<div id="news-items-2" class="hidden">
<ul>
    <li><a href="#">Alumno</a>
	<ul>
		<li><a href="/wvb/alumno">Registrar</a></li>
		<li><a href="/wvb/registro-academico">Registro Académico</a></li>
		<li><a href="/wvb/sustitutorio">Sustitutorio</a></li>
		<li><a href="#">Historial</a>
		<ul>
			<li><a href="/wvb/historial-academico">Académico</a></li>
		</ul>
	</ul>
	</li>
	<li><a href="#">Campus</a>
	<ul>
		<li><a href="/wvb/campus">Crear</a></li>
	</ul>
	</li>
	<li><a href="#">Institución</a>
		<ul>
			<li><a href="/wvb/carrera">Carrera</a></li>
			<li><a href="/wvb/ciclo">Ciclo</a></li>
			<li><a href="/wvb/curso">Curso</a></li>
			<li><a href="/wvb/docente">Docente</a></li>
		</ul>
	</li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>
