<a tabindex="0" href="#news-items-2" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="hierarchybreadcrumb"><span class="ui-icon ui-icon-triangle-1-s"></span>Pagos</a>
<div id="news-items-2" class="hidden">
<ul>
    <li><a href="/wvb/pension">Academico</a></li>
    <li><a href="/wvb/pago">General</a></li>
	<li><a href="/wvb/recuepracion">Subsanar</a>
	<li><a href="/wvb/anular">Anular</a>
	<li><a href="#">Mostrar</a>
		<ul>
			<li><a href="/wvb/boletas">Boletas</a></li>
		</ul>
	</li>
</ul>
</div>
