<a tabindex="0" href="#menu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="hierarchybreadcrumb">
	<span class="ui-icon ui-icon-triangle-1-s"></span>Pago
</a>
<div id="menu" class="hidden">
<ul>
    <li><a href="/pago/pension">Academico</a></li>
    <li><a href="/pago/general">General</a></li>
	<li><a href="/pago/subsanacion">Subsanar</a>
	<li><a href="#">Boleta</a>
		<ul>
			<li><a href="/pago/anular">Anular</a>
			<li><a href="/boleta/historial">Historial</a></li>
		</ul>
	</li>
</ul>
</div>
