{% extends 'base.html' %}
{% block title %}W.V.B. - Anular{% endblock %}
{% block csspage %}
	<style>
		#id_alumno{
			width: 97.8%;
		}
		.ui-autocomplete-loading { background: white url('{{ STATIC_URL }}images/ui-anim_basic_16x16.gif') right center no-repeat; }
	</style>
{% endblock %}
{% block content %}
	<form method="post" action="/pago/anular/" class="yform full" role="application" onSubmit="return confirmar('¿Esta segur@ que desea anular el pago?');">
		{% csrf_token %}
		<fieldset>
			<legend>Pensión</legend>
			<div id="imprimir" class="subcolumns">
				<div class="subcolumns">
					
					<div class="c50l">
						<div class="subcl type-text">
							{{ serie.errors }}
							<label for="id_boleta">Serie:</label>
							<input type="text" id="id_serie" name="serie" value="{{ boleta.serie }}" maxlength='3'/>
						</div>
						<div class="subcl type-text">
							{{ codigo.errors }}
							<label for="id_codigo_alumno">Codigo Alumno:</label>
							<input type="text" id="id_codigo_alumno" name="codigo_alumno" value="{{ boleta.alumno.codigo }}" maxlength="6" readonly="readonly"/>
						</div>
						<div class="subcl type-text">
							<label for="id_concepto">Concepto:</label>
							<input type="text" name="concepto" id="id_concepto" value="{{ boleta.concepto }}" readonly="readonly"/>
						</div>
						<div class="subcl type-text">
							<label for="id_importe">Importe:</label>
							<input type="text" name="importe" id="id_importe" value="{{ boleta.importe }}" readonly="readonly"/>
						</div>
					</div>
					<div class="c50r">
						<div class="subcl type-text">
							{{ serie.errors }}
							<label for="id_boleta">Número:</label>
							<input type="text" id="id_numero" name="numero" value="{{ boleta.numero }}" maxlength='7'/>
						</div>
						<div class="subcl type-text">
							{{ alumno.errors }}
							<label for="id_alumno">Alumno:</label>
							<input type="text" id="id_alumno" name="alumno" value="{{ boleta.alumno.get_full_name }}" readonly="readonly"/>
						</div>
						<div class="subcl type-text">
							<label for="id_fecha_emision">Fecha Emisión:</label>
							<input type="text" name="fecha_emision" id="id_fecha_emision" value="{{ boleta.fecha_emision }}" readonly="readonly"/>
						</div>
						<div class="subcl type-text">
							<label for="id_saldo">Saldo:</label>
							<input type="text" name="saldo" id="id_saldo" value="{{ boleta.saldo }}" readonly="readonly"/>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="type-button">
			<input type="submit" value="Anular" class="submit" id="bt_anular" name="anular"/>
			<input type="botton" value="Buscar" class="botton" id="bt_buscar" name="buscar" onclick='getBoleta();'/>
		</div>
	</form>
{% endblock %}
{% block left-bar %}
    {% include "home/pago.html" %}
{% endblock %}
{% block scriptjs %}
	<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/boleta.js" type="text/javascript"></script>
	<script>
		var codigo = null;
		var serie = null;
		var numero = null;
		$(document).ready(function() {
			run();
			serie = $('#id_serie');
			numero = $('#id_numero');
			codigo = $("#id_codigo_alumno").focus();
			$( "#id_alumno" ).autocomplete({
				source: "/boleta/boleta-alumno-campus/json/",
				select: function( event, ui ) {
					getCampus(ui.item.id);
				},
				minLength: 2,
			});
		});
		function getBoleta(){
			$.getJSON("/boleta/"+serie.val()+"/"+numero.val()+"/json/",function(data){
				data.valido
				$("#id_serie").val(data.serie);
				$("#id_codigo_alumno").val(data.codigo);
				$("#id_concepto").val(data.concepto);
				$("#id_importe").val(data.importe);
				$("#id_numero").val(data.numero);
				$("#id_alumno").val(data.alumno);
				$("#id_fecha_emision").val(data.fecha);
				$("#id_saldo").val(data.saldo);
			});
		}
	</script>
{% endblock %}
