{% extends 'base.html' %}
{% block title %}W.V.B. - Historial Boletas{% endblock %}
{% block csspage %}
	<style>
		#id_alumno{
			width: 97.8%;
		}
		table {
			font-size:11px;
		}
	</style>
{% endblock %}
{% block content %}
	<form method="post" action="#" class="yform full" role="application">
		{% csrf_token %}
		<fieldset>
			<legend>Pagos Realizados</legend>
			<div class="subcolumns">
				<div id="tabs">
					<ul>
						<li><a href="#tabs-1">Hoy</a></li>
						<li><a href="#tabs-2">Personalizado</a></li>
					</ul>
					<div id="tabs-1">
						<div class="subcolumns">
							<table id="tb_boletas">
								<thead>
									<tr>
										<th>Serie - Número</th>
										<th>Alumno</th>
										<th>Concepto</th>
										<th>Importe</th>
										<th>Válido</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									{% for boleta in boletas %}
									<tr>
										<td>{{ boleta }}</td>
										<td>{{ boleta.alumno }}</td>
										<td>{{ boleta.concepto }}</td>
										<td>S/. {{ boleta.importe }}</td>
										<td><input type="checkbox" checked={{ boleta.valido }}/></td>
										<td></td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Total</th>
										<th colspan="4"><label id="id_total"></label></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div id="tabs-2">
						<fieldset>
							<legend>Opciones</legend>
							<div class="subcolumns">
								<div class="c50l">
									<div class="subcl type-text">
										<label for="id_boleta">Serie:</label>
										<input type="text" id="id_serie" name="serie"/>
									</div>
									<div class="subcl type-text">
										<label for="id_codigo_alumno">Alumno:</label>
										<input type="text" id="id_alumno" name="alumno"/>
									</div>
									<div class="subcl type-check">
										<label>Anulado:</label>
										<div>
											<label for="id_anulado">&nbsp;</label>
											<input type="checkbox" id="id_anulado" name="anulado"/>
										</div>
									</div>
								</div>
								<div class="c50r">
									<div class="subcl type-text">
										<label for="id_boleta">Número:</label>
										<input type="text" id="id_numero" name="numero"/>
									</div>
									<div class="subcl type-text">
										<label for="id_fecha_inicio">Fecha Inicio:</label>
										<input type="text" id="id_fecha_inicio" name="fecha_inicio"/>
									</div>
									<div class="subcl type-text">
										<label for="id_fecha_fin">Fecha Fin:</label>
										<input type="text" id="id_fecha_fin" name="fecha_fin"/>
									</div>
								</div>
							</div>
							
						</fieldset>
						<div class="type-button">
							<input type="button" value="Actualizar" class="button" id="hoy" name="hoy" onclick="getBoletasDate();"/>
						</div>
						<div class="subcolumns">
							<table id="tb_boletas_date">
								<thead>
									<tr>
										<th>Serie - Número</th>
										<th>Alumno</th>
										<th>Concepto</th>
										<th>Importe</th>
										<th>Válido</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
								<tfoot>
									<tr>
										<th>Total</th>
										<th colspan="4"><label id="id_total_date"></label></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="type-button">
				<input type="button" value="Imprimir" class="button" id="imprimir" name="imprimir" />
			</div>
		</fieldset>
	</form>
{% endblock %}
{% block left-bar %}
    {% include "home/pago.html" %}
{% endblock %}
{% block scriptjs %}
	<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/boleta.js" type="text/javascript"></script>
	<script>
		var meses = new Array("Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic");
		var fecha_emision = new Date({{ boleta.fecha_emision__year }});
		$(document).ready(function() {
			run();
			$("#bt_imprimir").button({
				text:true,
				icons:{
					primary: "ui-icon-print"
				}
			}).click(function(){
				imprimir();
			});
			$("#id_contro_pago").val(meses[fecha_emision.getMonth()]+" "+fecha_emision.getYear().toString().substr(0,2))
		});
		function redirectAnular(){
			
		}
	</script>
	
	
	
		<script src="{{ STATIC_URL }}js/jquery.selectboxes.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uitablefilter.js"></script>
        <script type="text/javascript">
        	var academicomenu=null;
        	var talumnos = null;
        	var divcont=null;
        	var saldo=null;
        	var fecha_emision=new Date();
        	var fecha_inicio = null;
        	var fecha_fin = null;
        	var meses=new Array("Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic");
        	var tboletas = null;
        	var tboletasdate = null;
        	$(document).ready(function() {
        	    divcont=$("#col3_content");
        	    tboletas = $("#tb_boletas");
        	    tboletasdate = $("#tb_boletas_date");
        	    $("#tabs").tabs();
        	    $("#tb_boletas").tablesorter();
        		fecha_inicio = $("#id_fecha_inicio").datepicker({
					changeMonth: true,
					changeYear: true, 
					closeText: 'X',
					dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
					gotoCurrent: true,
					monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
					yearRange: '1988:'+fecha_emision.getFullYear(),
					dateFormat: 'mm/dd/yy',
					currentText: 'Now',
					onSelect: function(dateText, inst) {
						fecha_fin.datepicker("option", "minDate", fecha_inicio.datepicker("getDate"));
						}
					}
				);
        	    fecha_fin = $("#id_fecha_fin").datepicker({
					changeMonth: true,
					changeYear: true, 
					closeText: 'X',
					dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
					gotoCurrent: true,
					monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
					yearRange: '1988:'+fecha_emision.getFullYear(),
					dateFormat: 'mm/dd/yy', 
					currentText: 'Now'}
					);
                sumarMontosHoy();
        	});
			function getBoletas(){
        	 $.getJSON("/wvb/json/boletas/nodate-nodate-"+1+"-"+tboletas.find("tbody tr").length,
        	 function(data){
	            $.each(data,function(key,value){
					if(value.serienumero != "0"){
						var tr = $("<tr></tr>")
						var chk = $("<input type='checkbox'/>")
						tr.append("<td>"+value.serienumero+"</td>");
						tr.append("<td>"+value.alumno+"</td>");
						tr.append("<td>"+value.concepto+"</td>");
						tr.append("<td>S/. "+value.monto+"</td>");
						if(value.valido)
							chk.attr("checked","checked");
						tr.append($("<td></td>").append(chk));
						tr.prependTo("#tb_boletas > tbody");
        	        }
        	    });
        	    tboletas.tablesorter();
        	    sumarMontosHoy();
			 });
        	}
        	function getBoletasDate(){
        	 var fecha_inicio=$("#id_fecha_inicio").val().replace(/[/]/g,"");;
        	 var fecha_fin=$("#id_fecha_fin").val().replace(/[/]/g,""); 	 
        	 if(fecha_inicio!="" && fecha_fin!=""){
        	 $.getJSON("/wvb/json/boletas/"+fecha_inicio+"-"+fecha_fin+"-"+0+"-"+tboletas.find("tbody tr").length,
        	 function(data){
				 tboletasdate.find("tbody tr:not(:first)").remove();
	            $.each(data,function(key,value){
					if(value.serienumero != "0"){
						var tr = $("<tr></tr>")
						var chk = $("<input type='checkbox'/>")
						tr.append("<td>"+value.serienumero+"</td>");
						tr.append("<td>"+value.alumno+"</td>");
						tr.append("<td>"+value.concepto+"</td>");
						tr.append("<td>S/. "+value.monto+"</td>");
						if(value.valido)
							chk.attr("checked","checked");
						tr.append($("<td></td>").append(chk));
						tboletasdate.append(tr);
        	        }
        	    });
        	    tboletasdate.tablesorter();
        	    sumarMontosDate();
			 });
			 }
        	}
        	function sumarMontosHoy(){
				var total = 0;
				$.each(tboletas.find("tbody tr"), function(){
					if(this.cells[4].childNodes.item(0).checked){
						total+=parseFloat(this.cells[3].childNodes.item(0).data.toString().replace("S/. ",""));
					}
				});
				$("#id_total").html("S/. "+total)
			}
			function sumarMontosDate(){
				var total = 0;
				$.each(tboletasdate.find("tbody tr"), function(){
					if(this.cells[4].childNodes.item(0).checked){
						total+=parseFloat(this.cells[3].childNodes.item(0).data.toString().replace("S/. ",""));
					}
				});
				$("#id_total_date").html("S/. "+total)
			}
        	//setInterval(getBoletas,60000);
        </script>

{% endblock %}





